/log
/temp
/bin/*
!/bin/custom
/roles
/data
gensrc
classes
testclasses
.idea
idea-module-files
**/web/webroot/**/addons
/**/web/addonsrc
/**/web/addontestsrc
/**/web/commonwebsrc
config/tomcat/conf/web.xml
config/solr/*
!config/solr/instances
config/solr/instances/**/hsperfdata*
